<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://cdn2.downdetector.com/static/uploads/logo/escape-from-tarkov.png" alt="" width="420" height="157">
    <h1 class="display-5 fw-bold">Tarkov helper</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This tool is designed to help you view weapons and ammo statistics in an fast and easy way! Browse, filter and search
           trough different weapons and ammotypes. You also can also create your own gun here! </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" id="weapons" (click)="goToWeapons('show-all-weapons')" class="btn btn-primary btn-lg px-4 me-sm-3">Weapons</button>
        <button type="button" id="rounds" (click)="goToRounds('ShowAllRounds')" class="btn btn-primary btn-lg px-4 me-sm-3">Ammotypes</button>
        <button type="button" id="platforms" (click)="goToCreator('Platforms')" class="btn btn-primary btn-lg px-4 me-sm-3">Platforms</button>
      </div>
    </div>
  </div>
